<div>
  <h2>These are my posts:</h2>

  <ul>
    <li><a href="/specific_post">Specific post</a></li>
    <% @posts.each_with_index do |post, index| %>
    <li><%= link_to post, "/post/#{index}"%></li>
    <% end %>
  </ul>

</div>
